---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Julio 2025 - Actualidad",
    title: "Odoo developer (Prácticas)",
    company: "Pyming ",
    description:
      "Experiencia en desarrollo e implementación de módulos personalizados en Odoo utilizando Python y XML, adaptando las funcionalidades del sistema a las necesidades de cada cliente. Habilidades en el uso del ORM de Odoo, gestión de bases de datos PostgreSQL y conexión a APIs para automatizar procesos como la facturación. Participación en la creación e integración de sitios web optimizados, aplicando buenas prácticas de SEO y mejorando la eficiencia de los procesos internos.",
    link: "https://linkedin.com/in/antonio-jimnez/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
