---
const currentYear = new Date().getFullYear()
---

<footer class="opacity-80 mt-16 mb-10 w-full flex justify-center">
  <div class="w-full max-w-screen-xl text-center py-4">
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
      &copy; {currentYear} 
      <a href="https://ajimenez.dev/" class="hover:underline">Antonio Jiménez</a>. Todos los derechos reservados
    </span>
  </div>
</footer>
